<div id="layoutSidenav_content">
    <main style="width: calc(100vw - 245px);">
        <div class="container-fluid px-4">
            <h1 class="mt-4">Global</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                <li class="breadcrumb-item active">Global</li>
            </ol>
            <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fa fa-eur" aria-hidden="true"></i>
                        Global
                    </div>
                    <div class="card-body">
                      <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
                        <div class="dataTable-top">
                          <div class="dataTable-dropdown">
                            <label style="font-size: 1.5em;">
                              Cuentas
                            </label>
                          </div>
                          <div class="solde">Saldo:-40,00 €</div>
                        </div>
                        <div class="dataTable-container">
                        </div>
                        <div class="dataTable-bottom">
                          <div class="dataTable-info">
                            <input class="dataTable-input" placeholder="Búsqueda..." type="text">
                          </div>
                          <nav class="dataTable-pagination">
                            <ul class="dataTable-pagination-list">
                              <li><a class="option-button" href="#">Copiar</a></li>
                              <li class=""><a class="option-button" href="">CSV</a></li>
                              <li class=""><a class="option-button" href="">Exceller</a></li>
                              <li class=""><a class="option-button" href="">PDF</a></li>
                              <li class=""><a class="option-button" href="">imprimir</a></li>
                            </ul>
                          </nav>
                        </div>
                        <div class="dataTable-container">
                          <table id="datatablesSimple" class="dataTable-table">
                            <thead>
                              <tr>
                                <th data-sortable="" style="width: 10%;">Fecha</th>
                                <th data-sortable="" style="width: 10%;">Concepto</th>
                                <th data-sortable="" style="width: 10%;">Importation €</th>
                                <th data-sortable="" style="width: 10%;">Saldo €</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td style="color:rgb(13, 3, 146);">20/10/2022</td>
                                <td style="color:black;">transacción de dounia</td>
                                <td style="color:red;">-40,00 €</td>
                                <td style="color:green;">400,00 €</td>
                              </tr>
                              <tr>
                                <td style="color:rgb(13, 3, 146);">20/10/2022</td>
                                <td style="color:black;">transacción de dounia</td>
                                <td style="color:red;">-40,00 €</td>
                                <td style="color:green;">400,00 €</td>
                              </tr>
                              <tr>
                                <td style="color:rgb(13, 3, 146);">20/10/2022</td>
                                <td style="color:black;">transacción de dounia</td>
                                <td style="color:red;">-40,00 €</td>
                                <td style="color:green;">400,00 €</td>
                              </tr>
                              <tr>
                                <td style="color:rgb(13, 3, 146);">20/10/2022</td>
                                <td style="color:black;">transacción de dounia</td>
                                <td style="color:red;">-40,00 €</td>
                                <td style="color:green;">400,00 €</td>
                              </tr>
                              <tr>
                                <td style="color:rgb(13, 3, 146);">20/10/2022</td>
                                <td style="color:black;">transacción de dounia</td>
                                <td style="color:red;">-40,00 €</td>
                                <td style="color:green;">400,00 €</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <div class="dataTable-bottom">
                          <nav class="dataTable-pagination">
                            <ul class="dataTable-pagination-list">
                              <li class="active"><a href="#" data-page="1">1</a></li>
                              <li class=""><a href="#" data-page="2">2</a></li>
                              <li class=""><a href="#" data-page="3">3</a></li>
                              <li class=""><a href="#" data-page="4">4</a></li>
                              <li class=""><a href="#" data-page="5">5</a></li>
                              <li class=""><a href="#" data-page="6">6</a></li>
                              <li class="pager"><a href="#" data-page="2">›</a></li>
                            </ul>
                          </nav>

                        </div>
                      </div>
                    </div>
                </div>

            </div>


        </div>
    </main>
    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">derechos de autor &copy; CoopHalal</div>
                <div>
                    <a href="#">Política de privacidad</a>
                    &middot;
                    <a href="#">Términos &amp; Condiciones</a>
                </div>
            </div>
        </div>
    </footer>
</div>
