<main style="width: calc(100vw - 245px)">
  <div class="container-fluid px-4">
    <h1 class="mt-4">Actas</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item"><a href="index.html">Tablero</a></li>
      <li class="breadcrumb-item active">Actas</li>
    </ol>
    <button
      style="margin-bottom: 30px"
      type="button"
      class="btn btn-success"
      (click)="addTransaction()"
    >
      agregar una transacción
    </button>
    <div class="card mb-4" style="height: 600px; overflow: scroll">
      <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Listas de Transacciones
      </div>
      <div class="card-body">
        <div
          class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns"
        >
          <div class="dataTable-top">
            <div
              class="dataTable-dropdown pt-2 d-none"
              *ngIf="isConnected && hasAdminRole && switchBtn"
            >
              <button
                (click)="validateAllTransactions(this.listTransaction)"
                class="border-0 bg-transparent align-middle"
              >
                <i
                  class="fa-regular fa-circle-check"
                  style="
                    color: green;
                    font-size: 20px;
                    font-weight: 500;
                    margin: 0 10px;
                  "
                ></i>
              </button>
              <button
                (click)="rejectAllTransactions(this.listTransaction)"
                class="border-0 bg-transparent align-middle"
              >
                <i
                  class="fa-regular fa-circle-xmark"
                  style="
                    margin: 0 10px;
                    font-size: 20px;
                    font-weight: 500;
                    color: chocolate;
                  "
                ></i>
              </button>
              <button
                (click)="removeAllTransactions(this.listTransaction)"
                class="border-0 bg-transparent align-middle"
              >
                <i
                  class="fa-regular fa-trash-can"
                  style="
                    margin: 0 10px;
                    font-size: 20px;
                    font-weight: 500;
                    color: red;
                  "
                ></i>
              </button>
            </div>
            <div class="dataTable-search">
              <input style="width: auto !important;"
                     #searchTransaction
                     class="dataTable-input"
                     placeholder="Búsqueda..."
                     type="search"
                     (keyup)="handleTransactionSearch(searchTransaction.value)"
              />
            </div>
            <div class="dataTable-bottom" *ngIf="isConnected && hasAdminRole && switchBtn">
              <nav class="dataTable-pagination">
                <ul class="dataTable-pagination-list">

                  <li class=""><a class="option-button" (click)="exportToCSV()">CSV</a></li>
                  <li class="">
                    <a class="option-button" (click)="exportToExcel()">Exceller</a>
                  </li>
                  <li class=""><a class="option-button" (click)="exportToPDF()">PDF</a></li>

                </ul>
              </nav>
            </div>
          </div>
          <div class="dataTable-container">
            <table id="datatablesSimple" class="dataTable-table">
              <thead>
              <tr>
                <th *ngIf="isConnected && hasAdminRole && switchBtn">
                  <input type="checkbox" (change)="selectAll($event)"/>
                </th>
                <th data-sortable="">Monto</th>
                <th data-sortable="">Fetcha</th>
                <th data-sortable="">Concepto</th>
                <th data-sortable="">Cuenta original</th>
                <th data-sortable="">Cuenta de destino</th>
                <th data-sortable="">Estado</th>
                <th
                  *ngIf="isConnected && hasAdminRole && switchBtn"
                  data-sortable=""
                >
                  Acción
                </th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let transaction of transactions">
                <td *ngIf="isConnected && hasAdminRole && switchBtn">
                  <input
                    (change)="setTransaction(transaction.id, $event)"
                    class="items"
                    type="checkbox"
                    value="1"
                  />
                </td>
                <td style="color: red">{{ transaction.amount }}</td>
                <td>
                  {{ transaction.dateTransaction | date: "dd-MM-yyyy" }}
                </td>
                <td>{{ transaction.motif }}</td>
                <td>
                  {{ transaction.senderBankAccount?.user.name }}
                </td>
                <td>
                  {{ transaction.receiverBankAccount?.user.name }}
                </td>
                <td [style.color]="statusColor(transaction.status)">
                  {{ statusCasting(transaction.status) }}
                </td>
                <td
                  *ngIf="isConnected && hasAdminRole && switchBtn"
                  class="icons"
                >
                  <button
                    (click)="validateTransaction(transaction.id)"
                    class="border-0 bg-transparent align-middle"
                  >
                    <i
                      class="fa-regular fa-circle-check"
                      style="
                          color: green;
                          font-size: 20px;
                          font-weight: 500;
                          margin: 0 10px;
                        "
                    ></i>
                  </button>
                  <button
                    (click)="rejectTransaction(transaction.id)"
                    class="border-0 bg-transparent align-middle"
                  >
                    <i
                      class="fa-regular fa-circle-xmark"
                      style="
                          margin: 0 10px;
                          font-size: 20px;
                          font-weight: 500;
                          color: chocolate;
                        "
                    ></i>
                  </button>
                  <button
                    (click)="removeTransaction(transaction.id)"
                    class="border-0 bg-transparent align-middle"
                  >
                    <i
                      class="fa-regular fa-trash-can"
                      style="
                          margin: 0 10px;
                          font-size: 20px;
                          font-weight: 500;
                          color: red;
                        "
                    ></i>
                  </button>
                  <!--<button
                  (click)="updateTransaction()"
                  class="border-0 bg-transparent align-middle"
                >
                  <i
                    class="fa-regular fa-pen-to-square"
                    style="
                        margin: 0 10px;
                        font-size: 20px;
                        font-weight: 500;
                        color: cornflowerblue;
                      "
                  ></i>
                </button>-->
                </td>
              </tr>
              </tbody>
            </table>
          </div>

          <ngb-pagination
            [(page)]="pageNumber"
            [pageSize]="pageSize"
            [collectionSize]="totalElements"
            [boundaryLinks]="true"
            (pageChange)="loadTransactionsByRole()"
          >
          </ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</main>
