<div id="layoutSidenav_content">
    <main style="width: calc(100vw - 245px)">
        <div class="container-fluid px-4">
            <h1 class="mt-4">Peticiones</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                <li class="breadcrumb-item active">Peticiones</li>
            </ol>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Listas de Solicitudes
                </div>
                <div class="card-body">
                    <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
                        <div class="dataTable-top">
                            <div class="dataTable-dropdown pt-2 d-none">
                                <button class="border-0 bg-transparent align-middle">
                                    <i class="fa-regular fa-circle-check" style="color: green; font-size: 20px; font-weight: 500; margin: 0 10px;"></i>
                                </button>
                                <button class="border-0 bg-transparent align-middle">
                                    <i class="fa-regular fa-circle-xmark" style=" margin: 0 10px; font-size: 20px; font-weight: 500; color: chocolate"></i>
                                </button>
                                <button class="border-0 bg-transparent align-middle">
                                    <i class="fa-regular fa-trash-can" style="margin: 0 10px; font-size: 20px; font-weight: 500; color: red"></i>
                                </button>
                              </div>
                            <div class="dataTable-search"><input class="dataTable-input" placeholder="Búsqueda..." type="text"></div>
                        </div>
                        <div class="dataTable-container">
                            <table id="datatablesSimple" class="dataTable-table">
                                <thead>
                                    <tr>
                                        <th><input type="checkbox" (change)="selectAll($event)"></th>
                                        <th data-sortable="" style="width: 19.6337%;"><a href="#" class="dataTable-sorter">Name</a></th>
                                        <th data-sortable="" style="width: 28.9556%;"><a href="#" class="dataTable-sorter">Position</a></th>
                                        <th data-sortable="" style="width: 15.5915%;"><a href="#" class="dataTable-sorter">Office</a></th>
                                        <th data-sortable="" style="width: 9.1569%;"><a href="#" class="dataTable-sorter">Age</a></th>
                                        <th data-sortable="" style="width: 15.179%;"><a href="#" class="dataTable-sorter">Start date</a></th>
                                        <th data-sortable="" style="width: 11.4668%;"><a href="#" class="dataTable-sorter">Salary</a></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input (change)="setRequest(1, $event)" class="items" type="checkbox" value="1"/></td>
                                        <td>Tiger Nixon</td>
                                        <td>System Architect</td>
                                        <td>Edinburgh</td>
                                        <td>61</td>
                                        <td>2011/04/25</td>
                                        <td>$320,800</td>
                                    </tr>
                                    <tr>
                                        <td><input (change)="setRequest(1, $event)" class="items" type="checkbox" value="1"/></td>
                                        <td>Garrett Winters</td>
                                        <td>Accountant</td>
                                        <td>Tokyo</td>
                                        <td>63</td>
                                        <td>2011/07/25</td>
                                        <td>$170,750</td>
                                    </tr>
                                    <tr>
                                        <td><input (change)="setRequest(1, $event)" class="items" type="checkbox" value="1"/></td>
                                        <td>Ashton Cox</td>
                                        <td>Junior Technical Author</td>
                                        <td>San Francisco</td>
                                        <td>66</td>
                                        <td>2009/01/12</td>
                                        <td>$86,000</td>
                                    </tr>
                                    <tr>
                                        <td><input (change)="setRequest(1, $event)" class="items" type="checkbox" value="1"/></td>
                                        <td>Cedric Kelly</td>
                                        <td>Senior Javascript Developer</td>
                                        <td>Edinburgh</td>
                                        <td>22</td>
                                        <td>2012/03/29</td>
                                        <td>$433,060</td>
                                    </tr>
                                    <tr>
                                        <td><input (change)="setRequest(1, $event)" class="items" type="checkbox" value="1"/></td>
                                        <td>Airi Satou</td>
                                        <td>Accountant</td>
                                        <td>Tokyo</td>
                                        <td>33</td>
                                        <td>2008/11/28</td>
                                        <td>$162,700</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="dataTable-bottom">
                            <div class="dataTable-info">apareciendo 1 to 10 of 57 entradas</div>
                            <nav class="dataTable-pagination">
                                <ul class="dataTable-pagination-list">
                                    <li class="active"><a href="#" data-page="1">1</a></li>
                                    <li class=""><a href="#" data-page="2">2</a></li>
                                    <li class=""><a href="#" data-page="3">3</a></li>
                                    <li class=""><a href="#" data-page="4">4</a></li>
                                    <li class=""><a href="#" data-page="5">5</a></li>
                                    <li class=""><a href="#" data-page="6">6</a></li>
                                    <li class="pager"><a href="#" data-page="2">›</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">derechos de autor &copy; CoopHalal</div>
                <div>
                    <a href="#">Política de privacidad</a>
                    &middot;
                    <a href="#">Términos &amp; Condiciones</a>
                </div>
            </div>
        </div>
    </footer>
</div>