<html xmlns="http://www.w3.org/1999/xhtml">  
    <head>  
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
        <title>Correo electrónico de validación</title>  
    </head>  
    <body>
        <table style="width:100%">
            <tr>
                <td style="text-align:center">
                    <h1 style="font-size:35px">Hola {0}</h1>
                </td>
            </tr>
            <tr>
                <td style="text-align:center">
                    <p style="font-size:18px">Agradecemos su interés de unirse a nosotros</p>
                    <p style="font-size:18px">{1}</p>
                </td>
            </tr>
        </table>
    </body>
</html>
    


