<div class="sb-nav-fixed">
  <app-header></app-header>
  <div id="layoutSidenav">
    <app-sidebar></app-sidebar>
    <div id="layoutSidenav_content">
      <main style="width: calc(100vw - 245px)">
        <div class="container-fluid px-4">
          <h1 class="mt-4">Actas</h1>
          <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="index.html">Tablero</a></li>
            <li class="breadcrumb-item active">Actas</li>
          </ol>
          <button
            style="margin-bottom: 30px"
            type="button"
            class="btn btn-success"
            (click)="addTransaction()"
          >
            agregar una transacción
          </button>
          <div class="card mb-4" style="height: 600px; overflow: scroll">
            <div class="card-header">
              <i class="fas fa-table me-1"></i>
              Listas de Transacciones
            </div>
            <div class="card-body">
              <div
                class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns"
              >
                <div class="dataTable-top">
                  <div class="dataTable-dropdown pt-2 d-none">
                    <button
                      (click)="validateAllTransactions(this.listTransaction)"
                      class="border-0 bg-transparent align-middle"
                    >
                      <i
                        class="fa-regular fa-circle-check"
                        style="
                          color: green;
                          font-size: 20px;
                          font-weight: 500;
                          margin: 0 10px;
                        "
                      ></i>
                    </button>
                    <button
                      (click)="rejectAllTransactions(this.listTransaction)"
                      class="border-0 bg-transparent align-middle"
                    >
                      <i
                        class="fa-regular fa-circle-xmark"
                        style="
                          margin: 0 10px;
                          font-size: 20px;
                          font-weight: 500;
                          color: chocolate;
                        "
                      ></i>
                    </button>
                    <button
                      (click)="removeAllTransactions(this.listTransaction)"
                      class="border-0 bg-transparent align-middle"
                    >
                      <i
                        class="fa-regular fa-trash-can"
                        style="
                          margin: 0 10px;
                          font-size: 20px;
                          font-weight: 500;
                          color: red;
                        "
                      ></i>
                    </button>
                  </div>
                  <div class="dataTable-search">
                    <input
                      #searchTransaction
                      class="dataTable-input"
                      placeholder="Búsqueda..."
                      type="search"
                      (keyup)="handleTransactionSearch(searchTransaction.value)"
                    />
                  </div>
                </div>
                <div class="dataTable-container">
                  <table id="datatablesSimple" class="dataTable-table">
                    <thead>
                    <tr>
                      <th>
                        <input type="checkbox" (change)="selectAll($event)"/>
                      </th>
                      <th data-sortable="">Monto</th>
                      <th data-sortable="">Saldo</th>
                      <th data-sortable="">Fetcha</th>
                      <th data-sortable="">Concepto</th>
                      <th data-sortable="">Cuenta original</th>
                      <th data-sortable="">Cuenta de destino</th>
                      <th data-sortable="">Estado</th>
                      <th data-sortable="">Acción</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let transaction of transactions">
                      <td>
                        <input
                          (change)="setTransaction(transaction.id, $event)"
                          class="items"
                          type="checkbox"
                          value="1"
                        />
                      </td>
                      <td style="color: red">{{ transaction.amount }}</td>
                      <td style="color: green">
                        {{ transaction.senderBankAccount?.balance }}
                      </td>
                      <td>{{ transaction.dateTransaction | date:"dd-MM-yyyy"}}</td>
                      <td>{{transaction.motif}}</td>
                      <td>{{ transaction.senderBankAccount?.user.name }}</td>
                      <td>
                        {{ transaction.receiverBankAccount?.user.name}}
                      </td>
                      <td>{{ statusCasting(transaction.status)}}</td>
                      <td class="icons">
                        <button
                          (click)="validateTransaction(transaction.id)"
                          class="border-0 bg-transparent align-middle"
                        >
                          <i
                            class="fa-regular fa-circle-check"
                            style="
                                color: green;
                                font-size: 20px;
                                font-weight: 500;
                                margin: 0 10px;
                              "
                          ></i>
                        </button>
                        <button
                          (click)="rejectTransaction(transaction.id)"
                          class="border-0 bg-transparent align-middle"
                        >
                          <i
                            class="fa-regular fa-circle-xmark"
                            style="
                                margin: 0 10px;
                                font-size: 20px;
                                font-weight: 500;
                                color: chocolate;
                              "
                          ></i>
                        </button>
                        <button
                          (click)="removeTransaction(transaction.id)"
                          class="border-0 bg-transparent align-middle"
                        >
                          <i
                            class="fa-regular fa-trash-can"
                            style="
                                margin: 0 10px;
                                font-size: 20px;
                                font-weight: 500;
                                color: red;
                              "
                          ></i>
                        </button>
                        <!--<button
                          (click)="updateTransaction()"
                          class="border-0 bg-transparent align-middle"
                        >
                          <i
                            class="fa-regular fa-pen-to-square"
                            style="
                                margin: 0 10px;
                                font-size: 20px;
                                font-weight: 500;
                                color: cornflowerblue;
                              "
                          ></i>
                        </button>-->
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>

                <ngb-pagination
                  [(page)]="pageNumber"
                  [pageSize]="pageSize"
                  [collectionSize]="totalElements"
                  [boundaryLinks]="true"
                  (pageChange)="getTransactionsByUser()"
                >
                </ngb-pagination>

              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
  <footer class="py-4 bg-light mt-auto">
    <div class="container-fluid px-4">
      <div class="d-flex align-items-center justify-content-between small">
        <div class="text-muted">derechos de autor &copy; CoopHalal</div>
        <div>
          <a href="#">Política de privacidad</a>
          &middot;
          <a href="#">Términos &amp; Condiciones</a>
        </div>
      </div>
    </div>
  </footer>
</div>
