
<section class="h-100 h-custom" >
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <div class="card rounded-3">
          <div class="card-body p-4 p-md-5">
            <div style="text-align:center">
              <img src="https://atalayar.com/sites/default/files/inline-images/logoCoophalal.jpg" />

            </div>
            <p class="title">Registro de usuario</p>
            <p class="subtitle">Entra tus datos para crear tu cuenta</p>
            <form class="px-md-2">

              <div class="form-outline mb-4">
                <input type="text" class="form-control" placeholder="Nombre / Apellido" />
              </div>

              <div class="form-outline mb-4">
                <input type="text" class="form-control" placeholder="DNI/NIF/CIF" />
              </div>

              <div class="form-outline mb-4">
                <input type="text" class="form-control" placeholder="Teléfono" />
              </div>

              <div class="form-outline mb-4">
                <input type="text" class="form-control" placeholder="Numero de Socio /a" />
              </div>

              <div class="form-outline mb-4">
                <input type="text" class="form-control" placeholder="Email" />
                <p style="font-size:13px; color: red ; text-align:center">El campo Email es obligatorio</p>
              </div>

              <div class="form-outline mb-4">
                <input type="text" class="form-control" placeholder="Cuenta Externa" />
              </div>

              <div class="form-outline mb-4">
                <input type="text" class="form-control" placeholder="Contrasena" />
                <p style="font-size:13px; color: red ; text-align:center">El campo Email es obligatorio</p>
              </div>

              <div class="form-outline mb-4">
                <input type="text" class="form-control" placeholder="confirmar Contrasena" />
              </div>


              <button type="submit" class="btn btn-success btn-lg mb-1">Enviar</button>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
