<html xmlns="http://www.w3.org/1999/xhtml">  
    <head>  
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
        <title>Welcome Email from TCP</title>  
    </head>  
    <body>
        <table style="width:100%">
            <tr>
                <td style="text-align:center">
                    <h1 style="font-size:35px">Hello {0}</h1>
                </td>
            </tr>
            <tr>
                <td style="text-align:center">
                    <p style="font-size:18px">We have received a request from your email to reset your password</p>
                    <p style="font-size:18px">To complete operation please click on the link below to change your password</p>
                    <p style="font-size:18px">the link is valid for only 48 hours from the time it's sent</p>
                    <p style="font-size:18px">you need to make the operation before it's validity end</p>
                </td>
            </tr>
            <tr>
                <td style="height:80px;text-align:center">
                    <a href="https://localhost:44349/reset-password?param={1}" target="_blank" style="display:inline-block;font-size:24px;text-align:center;background-color:#00d419;color:#ffffff;text-decoration:none;height:45px;width:150px;line-height:45px">Click Here</a>
                </td>
            </tr>
        </table>
    </body>
</html>
