<html xmlns="http://www.w3.org/1999/xhtml">  
    <head>  
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
        <title>Welcome Email from TCP</title>  
    </head>  
    <body>
        <table style="width:100%">
            <tr>
                <td style="text-align:center">
                    <h1 style="font-size:35px">Hello {0}</h1>
                </td>
            </tr>
            <tr>
                <td style="text-align:center">
                    <p style="font-size:18px">Thank you for your registration in our website</p>
                    <p style="font-size:18px">To complete your registration please click on the link below</p>
                </td>
            </tr>
            <tr>
                <td style="height:80px;text-align:center">
                    <a href="https://localhost:44349/user/email-confirmation?param={1}" target="_blank" style="display:inline-block;font-size:24px;text-align:center;background-color:#00d419;color:#ffffff;text-decoration:none;height:45px;width:150px;line-height:45px">Click Here</a>
                </td>
            </tr>
        </table>
    </body>
</html>
    


