<div class="sb-nav-fixed">
    <app-header></app-header>
    <div id="layoutSidenav">
        <app-sidebar></app-sidebar> 
        <div id="layoutSidenav_content">
            <main style="width: calc(100vw - 245px);">
                <div class="container-fluid px-4">
                    <h1 class="mt-4">Perfil</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active">perfil</li>
                    </ol>
                    <div class="card mb-4">
                        <div class="card-header p-0">
                                <ul class="nav nav-tabs sidebar" id="myTab" role="tablist">
                                    <li class="nav-item tabs-items">
                                        <a class="nav-link py-3 active" id="user-tab" data-toggle="tab"  role="tab"
                                            aria-controls="user" aria-selected="true" (click)="onSelected('user', $event)" >Usuario</a>
                                    </li>
                                    <li class="nav-item tabs-items">
                                        <a class="nav-link py-3" id="email-tab" data-toggle="tab" role="tab"
                                            aria-controls="email" aria-selected="false" (click)="onSelected('email', $event)">Email</a>
                                    </li>
                                    <li class="nav-item tabs-items">
                                        <a class="nav-link py-3" id="password-tab" data-toggle="tab" role="tab"
                                            aria-controls="password" aria-selected="false" (click)="onSelected('password', $event)">contraseña</a>
                                    </li>
                                </ul>
                        </div>
                        <div class="card-body">
                            <form *ngIf="selectedButton === 'user' || selectedButton === ''">
                                <p class="setting-title">administrar usuario</p>
                                <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Update your Name">
                                </div>
                                <div class="form-group">
                                <label for="NIF">NIF/CIF</label>
                                <input type="text" class="form-control" id="NIF" placeholder="NIF">
                                </div>
                                <div class="form-group">
                                    <label for="NIF">Telephone</label>
                                    <input type="tel" class="form-control" id="NIF" placeholder="Telephone">
                                </div>
                                <input type="submit" class="btn btn-primary" value="Submit">
                            </form>
                            <form *ngIf="selectedButton === 'email'">
                                <p class="setting-title">administrar correo electrónico</p>
                                <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                                <a style="color: rgb(30, 6, 240)">Envia un correo electronico de verificación</a>
                                </div>
                                <div class="form-group">
                                <label for="emailconf">Nuevo correo electrónico</label>
                                <input type="emailconf" class="form-control" id="email" placeholder="email">
                                </div>
                                <input type="submit" class="btn btn-primary" value="Submit">
                            </form>
                            <form *ngIf="selectedButton === 'password'">
                                <p class="setting-title">Cambia la contraseña</p>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">contraseña actual</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword2">Nueva contraseña</label>
                                    <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword3">Confirmar nueva contraseña</label>
                                    <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password">
                                </div>
                                <input type="submit" class="btn btn-primary" value="Submit">
                            </form>
                        </div>
                    </div>
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">derechos de autor &copy; CoopHalal</div>
                        <div>
                            <a href="#">Política de privacidad</a>
                            &middot;
                            <a href="#">Términos &amp; Condiciusers</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>