<div class="sb-nav-fixed">
  <app-header></app-header>
  <div id="layoutSidenav">
      <app-sidebar></app-sidebar>   
      <div id="layoutSidenav_content">
        <main style="width: calc(100vw - 245px);">
          <div class="container-fluid px-4">
            <h1 class="mt-4">usuarios</h1>
            <ol class="breadcrumb mb-4">
              <li class="breadcrumb-item"><a href="../admin/global">Global</a></li>
              <li class="breadcrumb-item active">usuario</li>
            </ol>
            <button style="margin-bottom:30px" type="button" class="btn btn-success" (click)="addUser()">
              agregar una usuario
            </button>
                <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
                  <div class="card mb-4">
                      <div class="card-header">
                          <i class="fas fa-table me-1"></i>
                          Listas de Usuarios
                      </div>
                      <div class="card-body">
                          <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
                              <div class="dataTable-top">
                                  <div class="dataTable-dropdown pt-2 d-none">
                                    <button class="border-0 bg-transparent align-middle">
                                      <i class="fa-regular fa-circle-check" style="color: green; font-size: 20px; font-weight: 500; margin: 0 10px;"></i>
                                    </button>
                                    <button class="border-0 bg-transparent align-middle">
                                      <i class="fa-regular fa-circle-xmark" style=" margin: 0 10px; font-size: 20px; font-weight: 500; color: chocolate"></i>
                                    </button>
                                    <button class="border-0 bg-transparent align-middle">
                                      <i class="fa-regular fa-trash-can" style="margin: 0 10px; font-size: 20px; font-weight: 500; color: red"></i>
                                    </button>
                                  </div>
                                  <div class="dataTable-search"><input class="dataTable-input" placeholder="Búsqueda..." type="text"></div>
                              </div>
                            </div>
                              <div class="dataTable-container">
                                <table id="datatablesSimple" class="dataTable-table">
                                  <thead>
                                    <tr>
                                      <th><input (change)="selectAll($event)" type="checkbox"></th>
                                      <th data-sortable="">Username</th>
                                      <th data-sortable="">Email</th>
                                      <th data-sortable="">Numero Social</th>
                                      <th data-sortable="">Acción</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td><input (change)="setUser(1, $event)" class="items" type="checkbox" value="1" /></td>
                                      <td>alex</td>
                                      <td>alex@hotmail.com</td>
                                      <td>1</td>
                                      <td class="icons d-flex justify-content-center">
                                        <p>Status</p>
                                          <button class="border-0 bg-transparent align-middle">
                                            <i class="fa-regular fa-circle-check" style="color: green; font-size: 20px; font-weight: 500; margin: 0 10px;"></i>
                                          </button>
                                          <button class="border-0 bg-transparent align-middle">
                                            <i class="fa-regular fa-circle-xmark" style=" margin: 0 10px; font-size: 20px; font-weight: 500; color: chocolate"></i>
                                          </button>
                                          <button class="border-0 bg-transparent align-middle">
                                            <i class="fa-regular fa-trash-can" style="margin: 0 10px; font-size: 20px; font-weight: 500; color: red"></i>
                                          </button>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td><input (change)="setUser(1, $event)" class="items" type="checkbox" value="1" /></td>
                                      <td>lora</td>
                                      <td>lora@hotmail.com</td>
                                      <td>2</td>
                                      <td class="icons d-flex justify-content-center">
                                        <p>Status</p>
                                        <button class="border-0 bg-transparent align-middle">
                                          <i class="fa-regular fa-circle-check" style="color: green; font-size: 20px; font-weight: 500; margin: 0 10px;"></i>
                                        </button>
                                        <button class="border-0 bg-transparent align-middle">
                                          <i class="fa-regular fa-circle-xmark" style=" margin: 0 10px; font-size: 20px; font-weight: 500; color: chocolate"></i>
                                        </button>
                                        <button class="border-0 bg-transparent align-middle">
                                          <i class="fa-regular fa-trash-can" style="margin: 0 10px; font-size: 20px; font-weight: 500; color: red"></i>
                                        </button>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td><input (change)="setUser(1, $event)" class="items" type="checkbox" value="1" /></td>
                                      <td>alex</td>
                                      <td>alex@hotmail.com</td>
                                      <td>1</td>
                                      <td class="icons d-flex justify-content-center">
                                        <p>Status</p>
                                        <button class="border-0 bg-transparent align-middle">
                                          <i class="fa-regular fa-circle-check" style="color: green; font-size: 20px; font-weight: 500; margin: 0 10px;"></i>
                                        </button>
                                        <button class="border-0 bg-transparent align-middle">
                                          <i class="fa-regular fa-circle-xmark" style=" margin: 0 10px; font-size: 20px; font-weight: 500; color: chocolate"></i>
                                        </button>
                                        <button class="border-0 bg-transparent align-middle">
                                          <i class="fa-regular fa-trash-can" style="margin: 0 10px; font-size: 20px; font-weight: 500; color: red"></i>
                                        </button>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td><input (change)="setUser(1, $event)" class="items" type="checkbox" value="1" /></td>
                                      <td>lora</td>
                                      <td>lora@hotmail.com</td>
                                      <td>2</td>
                                      <td class="icons d-flex justify-content-center">
                                        <p>Status</p>
                                        <button class="border-0 bg-transparent align-middle">
                                          <i class="fa-regular fa-circle-check" style="color: green; font-size: 20px; font-weight: 500; margin: 0 10px;"></i>
                                        </button>
                                        <button class="border-0 bg-transparent align-middle">
                                          <i class="fa-regular fa-circle-xmark" style=" margin: 0 10px; font-size: 20px; font-weight: 500; color: chocolate"></i>
                                        </button>
                                        <button class="border-0 bg-transparent align-middle">
                                          <i class="fa-regular fa-trash-can" style="margin: 0 10px; font-size: 20px; font-weight: 500; color: red"></i>
                                        </button>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td><input (change)="setUser(1, $event)" class="items" type="checkbox" value="1" /></td>
                                      <td>alex</td>
                                      <td>alex@hotmail.com</td>
                                      <td>1</td>
                                      <td class="icons d-flex justify-content-center">
                                        <p>Status</p>
                                        <button class="border-0 bg-transparent align-middle">
                                          <i class="fa-regular fa-circle-check" style="color: green; font-size: 20px; font-weight: 500; margin: 0 10px;"></i>
                                        </button>
                                        <button class="border-0 bg-transparent align-middle">
                                          <i class="fa-regular fa-circle-xmark" style=" margin: 0 10px; font-size: 20px; font-weight: 500; color: chocolate"></i>
                                        </button>
                                        <button class="border-0 bg-transparent align-middle">
                                          <i class="fa-regular fa-trash-can" style="margin: 0 10px; font-size: 20px; font-weight: 500; color: red"></i>
                                        </button>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                              <div class="dataTable-bottom">
                                  <nav class="dataTable-pagination">
                                      <ul class="dataTable-pagination-list">
                                          <li class="active"><a href="#" data-page="1">1</a></li>
                                          <li class=""><a href="#" data-page="2">2</a></li>
                                          <li class=""><a href="#" data-page="3">3</a></li>
                                          <li class=""><a href="#" data-page="4">4</a></li>
                                          <li class=""><a href="#" data-page="5">5</a></li>
                                          <li class=""><a href="#" data-page="6">6</a></li>
                                          <li class="pager"><a href="#" data-page="2">›</a></li>
                                      </ul>
                                  </nav>
                              
                          </div>
                      </div>
      
                </div>
              </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
          <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
              <div class="text-muted">derechos de autor &copy; CoopHalal</div>
              <div>
                <a href="#">Política de privacidad</a>
                &middot;
                <a href="#">Términos &amp; Condiciones</a>
              </div>
            </div>
          </div>
        </footer>
      </div>
  </div>
</div>