<h4>información de la petición</h4>
<mat-stepper linear #stepper>
  <mat-step label="petición">
    <div class="form-group row">
      <label class="col-lg-4 col-form-label">
        Tipo petición
      </label>
      <div class="col-lg-8">
        <select class="form-control" id="exampleSelect1" name="typeDemande">
          <option value="1">Consultarnos dudas</option>
          <option value="2">Informarnos de cambios en tus datos</option>
          <option value="3">Solicitar alta o modificación de aportaciones periodicas</option>
          <option value="4">Solicitar la baja como socio/a</option>
          <option value="5">Solicitar mi historial de cuenta de años anteriores </option>
        </select>
      </div>
    </div>
    <button mat-button matStepperNext type="button" class="btn btn-success" style="margin-top:10px">Siguiente</button>
  </mat-step>


  <mat-step label="Observaciones">
    <div class="form-group row">
      <label class="col-lg-4 col-form-label ">Importe</label>
      <div class="col-lg-8">
        <input type="text" class="form-control" name="montant" placeholder="" />
        <span class="form-text text-muted"></span>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-lg-4 col-form-label ">Observaciones</label>
      <div class="col-lg-8">
        <textarea type="text" class="form-control" name="description" placeholder="" rows="3"></textarea>
      </div>
    </div>
    <button mat-button matStepperPrevious style="margin-top:10px" type="button" class="btn btn-light">espalda</button>
    <button mat-button matStepperNext style="margin-top:10px;margin-left:10px" type="button" class="btn btn-success">Siguiente</button>
  </mat-step>




  <mat-step label="Enviar la petición">
    <div class="card-footer">
      <div class="row">
        <!--<div class="col-lg-3"></div>
          <p>¿Enviar la petición?</p>-->
        </div>
      </div>
    <div class="form-group">
      <button type="button" class="btn btn-danger" (click)="close()">Anular</button>
      <button mat-button matStepperPrevious style="margin-left:10px" type="button" class="btn btn-light">espalda</button>
      <button type="button" class="btn btn-success" style="float:right;">Enviar</button>
    </div>
  </mat-step>
</mat-stepper>
